.map {
  height: 90vh;
  width: 100vw;
  z-index: 1;
}
/* .latitude {
  z-index: -1;
}
.longitude {
  z-index: -1;
} */

/* body {
  display: flex;
  justify-content: center;
} */

/* .app {
  height: 900px;
  width: 100vh;
}
.map {
  height: 100%;
  width: 100%;
} */
